*{
    margin: 0;
    box-sizing: border-box;
}
body , html{
    background-color: var(--secondry-bg-color);
    scroll-behavior: smooth;
}
:root{
    --primry-color:#717171;
    --primry-bg-color:#121f38;
    --primry-color:#121f38;
    --secondry-bg-color:#000000;
    --secondry-color:#007ea8;
    --font-color:#b6b6b6;
    --white-color:#fff;
    --block-color:#000;
    --primry-font:'Alkalami';
    --secondry-font:'Jost';
    --tertiary-font:'Gemunu Libre';
    --gutter-with:15px;
    --gutter-left:15px
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
a{
    text-decoration: none;
}
ul , ol{
    padding: 0;
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
}
span{
    display: inline-block;
}
.title{
    margin-bottom: 10px;
}
.title span{
    color: var(--font-color);
    font-size:28px;
    font-weight:400;
    font-family: var(--tertiary-font);
    letter-spacing:1px;
    word-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title h2{
    color: var(--secondry-color);
    font-size:36px;
    font-weight:500;
    font-family: var(--secondry-font);
    letter-spacing:1px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 10px;

}
.title p{
    font-family: var(--secondry-font);
    font-size: 18px;
    color: var(--font-color);
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    font-family: var(--secondry-font-2);
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.3;
    color: var(--block-color);
}
.btn{
    padding: 10px 20px;
    background-color: var(--secondry-color);
    display: inline-block;
    color: var(--white-color);
    text-transform: capitalize;
    font-size: 14px;
    box-shadow: 2px 3px 5px 4px rgba(0, 0, 0,0.1);
    transition: all 0.5s ease;
}
.btn:hover{
    background-color: transparent;
    box-shadow: 0px 0px 3px 3px rgba(33, 33, 33,0.3);
    color: var(--secondry-color);
}
.w-1{
    width: 8.3333%;
}
.w-2{
    width: 16.6666%;
}
.w-3{
    width: 25%;
}
.w-4{
    width: 33.3333%;
}
.w-5{
    width: 41.6666%;
}
.w-6{
    width: 50%;
}
.w-7{
    width: 58.3333%;
}
.w-8{
    width: 66.6666%;
}
.w-9{
    width: 75%;
}
.w-10{
    width: 83.3333%;
}
.w-11{
    width: 91.6666%;
}
.w-12{
    width: 100%;
}
.w-1, .w-2, .w-3, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12{
    padding-left: var(--gutter-left);
    padding-right: var(--gutter-right);
}
.align-content-center{
    align-content: center;
}
.align-content-flex-start{
    align-content: flex-start;
}
.align-content-flex-end{
    align-content: flex-end;
}
.align-content-space-around{
    align-content: space-around;
}
.align-content-space-between{
    align-content: space-between;
}
.align-content-stretch{
    align-content: stretch;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-flex-start{
    justify-content: flex-start;
}
.justify-content-flex-end{
    justify-content: flex-end;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}
.align-items-center{
    align-items: center;
}
.align-items-flex-start{
    align-items: flex-start;
}
.align-items-flex-end{
    align-items: flex-end;
}
.align-items-stretch{
    align-items: stretch;
}
.align-items-baseline{
    align-items: baseline;
}
.py-100{
    padding-top:100px;
    padding-bottom:100px;
}
.hide{
    width: 100%;
    height: 100%;
    overflow: hidden;
} 
#preloader{
    width: 100%;
    height: 100%;
    background-color: var(--font-color);
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;

}
.loader {
    position: relative;
    width: 100px;
    height: 100px;
}  
.loader:before , .loader:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
    box-shadow: 0 2px 0 var(--secondry-color) inset;
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
}
.backtotop{
    position: fixed;
    bottom: 50px;
    left: 95%;
    z-index: 5;
    animation: top 1s infinite ease-in-out;
}
@keyframes top {
    0%{
        bottom: 50px;
    }
    50%{
        bottom: 70px;
    }
    100%{
        bottom: 50px;
    }
}
.backtotop .back-btn img{
    width: 40px;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255,0.5));
}
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    transition: all 0.2s;
}
.switcher{
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 999;
}
.switcher i{
    color: var(--white-color);
    padding: 15px;
    background-color: var(--block-color);
}
.theme-switcher{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: rgba(0, 0, 0,0.5);
    display: none;
    z-index: 99;
    padding: 10px;
    backdrop-filter: blur(20px);
    
}
.theme-switcher a{
    display:block;
    background-color: var(--block-color);
    padding:10px;
    color: var(--white-color);
    text-transform: uppercase;
    font-family: var(--secondry-font);
    font-size:16px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    text-align: center;
}
.theme-switcher label{
    font-size: 18px;
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
}
.theme-switcher input{
    display: inline-block;
    width: 100px;
    line-height: 5;
}
.theme-switcher .input-btn input{
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.theme-switcher .light{
    background-color: var(--white-color);
    color: var(--font-color);
}
.main-navbar{
    width: 100%;
    position: absolute;
    z-index: 2;
}
.main-nav{
    background-color: var(--primry-color);
}
.main-nav .logo img{
    width: 150px;
}
.call-time{
    padding: 8PX 0PX;
}
.call-time i{
    color: var(--white-color);
    font-size: 16px;
    padding-right:8px;
}
.call-time span , .call-time p{
    font-size: 14px;
    color: var(--white-color);
    text-transform: uppercase;
    margin-right: 8px;
}
.call-time p{
    font-size: 12px;
}
.nav-bar{
    background-color: BLACK;
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.toggle{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 3px;
    list-style: 50px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--white-color);
    font-size: 16px;
    margin-left: auto;
}
nav{
    margin-left: auto;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 15px 0;
    padding-left: 30px;
}
nav ul li a span{
    color: var(--white-color);
    font-size: 12px;
    font-family: var(--secondry-font);
    text-transform: uppercase;
}
nav ul li a span i{
    margin-bottom: 5px;
}
.nav-bar nav .row{
    align-items: center;
}
.nav-bar .icone , footer .icone{
    margin-left: auto;
}
.icone div i { 
    color: var(--white-color);
    font-size: 16px;
    padding-left: 15px;
}
.Search{
    margin-left: 10px;
    position: relative;
}
.Search::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: var(--white-color);
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}
.dropdwon{
    position: relative;
}
.dropdown-menu{
    flex-direction: column;
    position: absolute;
    width: 200px;
    padding-left: 8px;
    background-color:var(--primry-color);
    backdrop-filter: blur(10px);
    top: 125%;
    left:-10%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in;
    box-shadow: 0px 0px 3px 5px rgba(18, 31, 56,0.1);
}
.dropdwon:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
}
.dropdown-menu li{
    padding: 15px 0;
    padding-left: 30px;

}
/* main */
/* benar */
.baner{
    padding-top: 250px; 
    padding-bottom: 350px;
    background-image: url('../img/pexels-vinicius-wiesehofer-1130625.jpg');
    background-position:  top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    z-index: 1;
}
.baner::after{
    position:absolute;
    content: '';
    background-color:rgba(18, 31, 56,1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;

}
.baner .title{
    margin-bottom: 50px;
} 
.baner .title span{
    color: var(--white-color);
}
.baner .title h2{
    font-size: 52px;
}
.baner .title p{
    margin-bottom: 50px;
    color: var(--white-color);
}
.baner .contant{
    width: 80%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    backdrop-filter: blur(10px);
    background-color: rgba(33, 33, 33,0.2);
}
.baner .contant::after , .baner .contant::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 100%;
    background-color: var(--secondry-color);
    top: 0;
    left: 33%;
}
.baner .contant::before{
    top: 0;
    left: 66%;   
}
.baner .contant .text{
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 30px;

}
.baner .contant h3{
    display: inline-block;
    font-size: 22px;
    font-family: var(--secondry-font);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--white-color);
}
.baner .contant .text i{
    background-color: var(--secondry-color);
    padding: 10px;
    color: var(--white-color);
    border-radius: 50%;
}
.baner .contant i{
    color: var(--secondry-color);
    font-size: 22px;
}
.baner .contant .icon{
    display: flex;
    align-items: center;
    padding: 10px 30px 30px;
    text-align: left;
}
.baner .contant .icon i{
    font-size: 42px;
    margin-right: 30px;
}
.baner .contant .icon p{
    font-size: 24px;
    font-family: var(--primry-font);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--white-color);

}
.baner .contant .icon span{
    font-size: 16px;
    font-family: var(--tertiary-font);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white-color);
  
}

.we-Care{
    background-color: var(--secondry-bg-color);
}
.we-Care .care-img{
    position: relative;
}
.we-Care .care-img .layer01 img{
    width: 100%;
}
.we-Care .care-img .shap{
    position: absolute;
    z-index: -1;
    left: 0%;
    top: 20%;
}
.we-Care .care-img .yolo-shape{
    position:absolute;
    top: 20%;
    left: 2.5%;
    rotate: 280deg;
    z-index: -3;
}
.we-Care .care-img .yolo-shape svg{
    fill: var(--secondry-color);
    height: 400px;
    width: 400px;
    bottom: 0;
    left: 0;
}
.we-Care .text{
    padding: 50PX;
    padding-top: 0;
}
.we-Care .text P ,.excellence-defined .text p{
    color: var(--font-color);
    margin-bottom: 16PX;
    line-height: 2;
    letter-spacing: 0.5px;
}
/* .list */
.list{
    background-color: var(--white-color);    
}
    
.list .row{
    justify-content: space-evenly;

}
.list ul{
    display: flex;
}
.list ul li{
    text-align: center;
    /* padding: 20px; */
    margin:  0px 20px;
    border: 1px dotted #000;
    background-color: var(--primry-color);
    box-shadow:2.5px 3px 5px #0ebeff; 


}
.list ul li img{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.list ul li span{
    font-family: var(--secondry-font);
    line-height: 1.2;
    color: var(--white-color);
}
/* offer */
.offer{
}
.offer .title , .news .title{
    text-align: center;
}
.offer .title span, .news .title span {
    font-size: 18px;
    margin-bottom: 10px;
}
.offer .title p , .news.title p{
    color: var(--font-color);
    font-weight: 500;
}
.offer .offer-img {
    text-align: center;
    padding: 20px;
}
.offer .offer-img img , .news .offer-img img{
    width: 100%;
    margin-bottom: 10px;
    filter: blur(1px);
}
.offer .offer-img h3 , .news .offer-img h3{
    font-size: 28px;
    color: var(--secondry-color);
    font-family: var(--tertiary-font);
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
}
.offer .offer-img p , .news .offer-img p{
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--font-color);
    line-height: 1.5;
}
.gallery{
    position: relative;
}
.gallery .gallery-img{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url('../img/h2-gallery-img-1-1-1300x650.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.gallery::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    background-color:var(--block-color);
}
.gallery::before{
    position: absolute;
    content: '\f144';
    font-family: 'FontAwesome';
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size:82px;
    z-index: 2;
    color: var(--secondry-color);

}
/* our-services */
.our-services{

}
.our-services .row{
    align-items: center;
} 
.our-services .title{
    margin-bottom: 0;
}
.our-services .title span{
    font-size: 18px;
}
.our-services ul li{
    padding: 10px 0;
}
.our-services ul li p{
    display: inline;
    color: var(--font-color);
}
.our-services ul li i{
    margin-right: 10px;
    color: var(--secondry-color);
}
.our-services .services-img{
    padding: 25px;
}
.our-services .services-img img{
    width: 100%;


}
/* excellence-defined */
.excellence-defined{
    background-color: var(--secondry-bg-color);
}
.excellence-defined .main-text{
    padding: 0 30px;
}
.excellence-defined .defined-img{
    width: 80%;
    height:350px;
    /* border-radius: 50%; */
    position: relative;
    background-image: url('../img/service12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    filter: drop-shadow(2.5px 3px 5px rgba(14, 190, 255,0.5));
}
.excellence-defined .defined-img .defined-img-2{
    position: absolute;
    width: 40%;
    left: 100%;
    top: 90%;
    transform: translate(-50% ,-50%);
}
.excellence-defined .defined-img img{
    width: 100%;


}
/* news */
.news{
}
.news .offer-img{
    padding: 25px;
}
.news .offer-img h3{
    font-size:24px;
    line-height: 1.5;
}
.news .offer-img span{
    color: var(--primry-color-100);
    margin-bottom: 10px;
    font-family: var(--secondry-font);
}
/* logos-wrap */
.logos-wrap{
    width: 100%;
     background-color: var(--white-color);
}
.logos-wrap .row{
    justify-content: space-evenly;
}
.logos-wrap .title{
    text-align: center;
}
.logos-wrap .title span{
    font-size: 22px;
}
.logos-wrap ul{
    display: flex;
}
.logos-wrap ul li{
    margin: 5px;
    padding: 20px;
    background-color: var(--white-color);
    border: 3px double #0ebeff;

}
.logos-wrap ul li img{
    width: 100%;
    transform: scale(0.9);
    transition: all 0.5s ease;
}
.logos-wrap ul li img:hover{
    transform: scale(1);
}
.patients-reviwe{
    background-color: var(--primry-color-100);
    border: 1px solid #0ebeff;
    /* background-image: linear-gradient(to right, #121f38, #1c3555, #224d73, #266791, #2482b0); */
}
.patients-reviwe .title{
    font-size: 53px;
}
.patients-reviwe .text p{
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: var(--font-color);
}
.patients-reviwe .text h3{
    font-size: 26px;
    font-family: var(--primry-font);
    font-weight: 300;
    line-height: 1;
    color: var(--secondry-color);
}
.patients-reviwe .text span{
    color: var(--font-color);
}
/* contact-us */
.contact-us{
    /* background-image: linear-gradient(to bottom, #121f38, #1c3555, #224d73, #266791, #2482b0); */
}
.contact-us .map{
    padding:  0PX 50PX;


}
.contact-us .map iframe{
    width: 100%;
    height: 550PX;
}
.contact-us ul li{
    display: flex;
    padding: 20px 0px;
}
.contact-us .icon {
    margin-right: 20px;
}
.contact-us .icon i{
    font-size:36px;
    color: var(--white-color);
    padding: 20px;
    background-color: #0ebeff;


}
.contact-us ul li .text h3{
    font-family: var(--primry-font);
    color: var(--secondry-color);
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}
/* footer */
footer{
    /* background-image: linear-gradient(to top, #121f38, #1c3555, #224d73, #266791, #2482b0); */
    background-color:#121f38;
}
footer .logo{
}
footer .logo img{
    width: 158px;
}
footer .text p{
    margin-bottom: 20px;
    font-size: 18px;
    font-family: var(--secondry-font);
    color: var(--white-color); 
}
footer .text span{
    color: var(--white-color);
    font-family: var(--primry-font);
    font-size: 22px;
    margin-bottom: 10px;
}
.icone{
    display: flex;
}
.icone div{
    padding: 0;
}
footer .icone i{
    background-color:var(--secondry-color);
    padding: 10px; 
    margin-right: 10px;
    filter: drop-shadow(2.5px 3px 5px rgba(14, 190, 255,0.3)); 
}
footer h3{
    color: var(--secondry-color);
    font-size: 26px;
    margin-bottom: 30px;
}
footer nav ul{
    flex-direction: column;
    
}
footer nav ul li{
    padding: 10px ;
}
footer nav ul li span{
    font-size: 16px;
}
.Working-hours , .quick-links ,.f-about{
    text-align: left;
    padding-left: 50px;
    margin-bottom: 30px;
}